openapi: 3.0.3
info:
  title: GraphQL Service API
  version: 1.0.0
  description: API GraphQL (documentação REST-like)
paths:
  /graphql:
    post:
      summary: Executa queries e mutations GraphQL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                variables:
                  type: object
      responses:
        '200':
          description: Resultado da query/mutation 