# Node
node_modules/
.npm/
.pnpm/

# Build
.next/
dist/
build/
out/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Env
.env*
.env.*

# Test
jest-coverage/

# Misc
*.tsbuildinfo
*.tgz

# Others
*.local
*.cache
*.swp
*.swo

# Firebase
.firebase/
.firebaserc

# Docker
*.pid
docker-compose.override.yml