openapi: 3.0.3
info:
  title: Payment Service API
  version: 1.0.0
  description: API de pagamentos
paths:
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: OK
  /payments:
    post:
      summary: Cria pagamento
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                to:
                  type: string
      responses:
        '201':
          description: Pagamento criado 