name: Deploy Azure

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Build and push Docker image
        run: |
          az acr build --registry $AZURE_CONTAINER_REGISTRY --image agrotm-app:$GITHUB_SHA .
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: agrotm-app
          images: $AZURE_CONTAINER_REGISTRY.azurecr.io/agrotm-app:$GITHUB_SHA 