name: AWS RDS Failover

on:
  workflow_dispatch:

jobs:
  failover:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Trigger RDS failover
        run: |
          aws rds failover-db-cluster --db-cluster-identifier agrotm-cluster 