name: Azure CosmosDB Failover

on:
  workflow_dispatch:

jobs:
  failover:
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Trigger CosmosDB failover
        run: |
          az cosmosdb failover-priority-change --name agrotm-cosmosdb --resource-group agrotm-rg --failover-policies region1 region2 